
.rectangle {
  height: 350px;
  width: 250px;
  background-color: #29b6f6;
  border: solid;
  border-color: white;
  float: left;
  overflow-y: auto;
  font-family: "Fantasy", "papyrus"
}

.fishname {
  font-weight: bold;
  font-size: 20px;
}

.descriptbtn {
  font-family: "Fantasy", "papyrus";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 3px solid blue;
  margin: 0 auto;
  display: block;

}

.fishpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.filter{
  position: absolute;
  top: 50px;
  left: 300px;
}
