

.rectangle {
  height: 350px;
  width: 250px;
  background-color: #29b6f6;
  border: solid;
  border-color: white;
  float: left;
  overflow-y: auto;
  font-family: "Fantasy", "papyrus"
}

.fishname {
  font-weight: bold;
  font-size: 20px;
}

.descripbtn {
  font-family: "Fantasy", "papyrus";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 3px solid blue;
  margin: 0 auto;
  display: block;

}

.fishpic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.filter{
  position: absolute;
  top: 50px;
  left: 300px;
}

.imgbtn{
  color: blue;
  font-size: 20px;
}

h2{
  color:blue;
  position: absolute;
  top:0px;
  left: 600px;
}

.contact{
  color: blue;
  font-size: 20px;
  position: absolute;
  top:50px;
  left: 600px;
  text-decoration: underline;
}

.contactpage{
  height: 500px;
  width: 550px;
  background-color: #29b6f6;
  border: solid;
  border-color: white;
  float: left;
  font-family: "Fantasy", "papyrus";
  position: absolute;
  top: 25%;
  left: 15%;
}

.contacttitle{
  font-weight: bold;
  font-size: 30px;
  position: relative;
  left: 40%;
}

.contactlabel{
  font-size: 20px;
}

.textbox1{
  position: relative;
  left: 0%;
  width: 300px;
}

.contactinfo{
  position: relative;
  display: block;
  left: 5%;
}

.messagebox{
  display: block;
  width: 400;
  height: 200;
  margin-left: auto;
  margin-right: auto;
}

.contactbutton{
  margin-top: 1%;
  font-size: 20px;
  text-align: center;

}
